body {
    padding-top: 75px;
}

#blackout-box {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 9;
}

/*header----------*/
header {
    position: fixed;
    top: 0px;
    background: #fff;
    padding: 10px 0px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
header.sticky {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    border-bottom: 1px solid #d4d4d4;
}
header .container {
    position: relative;
}
header .container #site_search {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    max-width: 750px;
    margin: auto;
    padding: 0px 15px;
    z-index: 9999;
}
header .container #site_search.show {
    display: block;
}
header .container #site_search .search-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #eee;
    border-radius: 7px;
    overflow: hidden;
    z-index: 1;
}
header .container #site_search .search-box .search {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 15px;
    outline-width: inherit;
    opacity: 0.5;
    cursor: pointer;
}
header .container #site_search .search-box .search:hover {
    background: #e4e4e4;
    opacity: 1;
}
header .container #site_search .search-box .close {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 15px;
    opacity: 0.3;
    cursor: pointer;
}
header .container #site_search .search-box .close:hover {
    background: #e4e4e4;
    opacity: 1;
}
header .container #site_search .search-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 14px;
    border: none;
}
header .container #site_search .search-box input:focus {
    background: #fff;
    outline-width: inherit;
}
header .container #site_search .results-box {
    max-height: 90vh;
    background: #fff;
    border-top: 7px solid #eee;
    border-radius: 0px 0px 7px 7px;
    overflow-y: auto;
    transform: translate(0px, -7px);
}
header .container #site_search .results-box .result {
    display: flex;
    color: #333;
    border-top: 1px solid #e1e1e1;
}
header .container #site_search .results-box .result .image {
    flex: 0 0 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f1f1f1;
}
header .container #site_search .results-box .result .content {
    display: flex;
    align-items: center;
    width: 100%;
}
header .container #site_search .results-box .result .content .info {
    flex: 1 0;
    width: 100px;
}
header .container #site_search .results-box .result .content .info .label {
    display: inline-block;
    background: burlywood;
    font-size: 12px;
    color: #fff;
    padding: 0px 7px;
    line-height: 1rem;
    border-radius: 3px;
}
header .container #site_search .results-box .result .content .info .title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
header .container #site_search .results-box .result .content .info .text {
    width: 100%;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
header .container #site_search .results-box .result .content .price {
    flex: 0 0 100px;
}
header .container #site_search .results-box .result .content .price span {
    font-size: 18px;
    font-weight: 500;
}
header .container #profile_dropdown {
    cursor: pointer;
}
header .container #profile_dropdown ul {
    position: absolute;
    top: 100%;
    right: 0px;
    display: none;
    width: 100%;
    min-width: 200px;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
header .container #profile_dropdown.show ul {
    display: block!important;
}
header .container #profile_dropdown ul li {
    display: block;
}
header .container #profile_dropdown ul li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}
.profile-initial{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    box-shadow: inset 1px 0px 4px #e6e6e6;
}
header .container ul.header__sidebar__right .search__active {
    display: block!important;
}
/*logo*/
header div.logo {
    height: 100%!important;
    line-height: inherit!important;
}
header div.logo a img {
    height: 40px;
}
/*menu*/
header nav.mainmenu__nav {
    height: 100%!important;
}
header nav.mainmenu__nav ul.meninmenu li a {
    font-size: 12px;
    white-space: nowrap;
}
header div.mobile-menu div.mean-bar {
    top: 0px;
}
/*sidebar*/
header ul.header__sidebar__right {
    height: 100%!important;
}

.header__area .header__sidebar__right > li.wishlist > a > span{
    position: absolute;
    bottom: 2px;
    right: 0px;
    background-color: #0090ff;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
}
/*----------header*/


.right-wrapper{
    background-image: url(/images/book_illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/*content----------*/

#social-links ul li{
    display: inline-block;
}
#social-links ul li.share-link a{
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    color: #007bff;
}
/*profile*/
.profile-img{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #f5f1f1;
    background-repeat: no-repeat;
    background-size: contain;
}

/*banner-main*/
section#banner-main {
    margin-bottom: 40px;
}
section#banner-main div.owl-carousel {
    border-radius: 13px;
    overflow: hidden;
}
section#banner-main div.owl-carousel div.item a {
    height: 370px;
    background: #f1f1f1;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
section#banner-main div.owl-carousel div.owl-nav {
    margin: 0px;
}
section#banner-main div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #fff;
    color: #333333;
    border-radius: 50%;
    margin-top: -23px;
}
section#banner-main div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 24px/1 FontAwesome;
}
section#banner-main div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
}
section#banner-main div.owl-carousel div.owl-nav > div.owl-next:before {
    transform: rotate(90deg) translateY(-3px);
}
section#banner-main div.owl-carousel div.owl-nav > div.owl-prev {
    left: 0px;
}
section#banner-main div.owl-carousel div.owl-nav > div.owl-prev:before {
    transform: rotate(-90deg) translateY(-3px);
}
section#banner-main div.owl-carousel div.owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/*tabs_box*/
section#tabs_box div.tabs ul {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}
section#tabs_box div.tabs ul li {
    display: inline-block;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 0px 25px;
    cursor: pointer;
}
section#tabs_box div.tabs ul li.active {
    color: #008cbd;
    border-bottom: 2px solid #00bdff;
}
section#tabs_box div.tabs-content div[id^="content_item_"] {
    display: none;
}
section#tabs_box div.tabs-content div[id^="content_item_"].active {
    display: block;
}
/*articles_slider*/
#articles_slider {
    position: relative;
}
#articles_slider a.link-to-all {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
    text-decoration: revert;
    z-index: 2;
}
#articles_slider div.owl-carousel {
    padding-top: 40px;
}
#articles_slider div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
}
#articles_slider div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 16px/1 FontAwesome;
}
#articles_slider div.owl-carousel div.owl-nav > div.owl-prev {
    right: 35px;
    transform: rotate(-90deg) translateY(-3px);
}
#articles_slider div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
    transform: rotate(90deg) translateY(-3px);
}
/*article-item*/
div.article-item a {
    text-decoration: dashed;
    color: #333;
}
div.article-item a div.image {
    height: 150px;
    background: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 13px;
}
div.article-item .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
}
div.article-item div.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.article-item div.info span {
    font-size: 12px;
    color: #17a2b8;
}
div.article-item div.info ul {
    display: flex;
    align-items: center;
}
div.article-item div.info ul li{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}
div.article-item div.description {
    position: relative;
    height: 80px;
    overflow: hidden;
}
div.article-item div.description:after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 30px white;
}
div.article-item span.more {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #333;
}
/*books_slider*/
#books_slider {
    position: relative;
}
#books_slider a.link-to-all {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
    text-decoration: revert;
    z-index: 2;
}
#books_slider div.owl-carousel {
    padding-top: 40px;
}
#books_slider div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
}
#books_slider div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 16px/1 FontAwesome;
}
#books_slider div.owl-carousel div.owl-nav > div.owl-prev {
    right: 35px;
    transform: rotate(-90deg) translateY(-3px);
}
#books_slider div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
    transform: rotate(90deg) translateY(-3px);
}
/*book-item*/
div.book-item {
    text-decoration: dashed;
}
div.book-item a.image {
    display: block;
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #eee;
    border-radius: 13px;
}
div.book-item a.image span.sale {
    position: relative;
    display: inline-block;
    background: #E91E63;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 5px;
    line-height: 24px;
}
div.book-item a.image span.sale:after{
    border-color: transparent transparent transparent #E91E63;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: "";
    margin-top: -6px;
    position: absolute;
    right: -11px;
    top: 50%;
}
div.book-item .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
}
div.book-item div.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.book-item div.info span {
    font-size: 12px;
    color: #0197ff;
}
div.book-item div.info ul {
    display: flex;
    align-items: center;
}
div.book-item div.info ul li{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}
div.book-item div.description {
    position: relative;
    height: 80px;
    overflow: hidden;
}
div.book-item div.description:after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 30px white;
}
div.book-item div.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.book-item div.final a.order {
    display: inline-block;
    background: #00bcff;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding: 0px 20px;
    border: 1px solid #00a4de;
    border-radius: 4px;
}
div.book-item div.final div.price {
    position: relative;
}
div.book-item div.final div.price small{
    position: absolute;
    top: -15px;
    right: 0px;
    font-weight: 500;
    text-decoration: line-through;
    color: #E91E63;
}
/*audios_books_slider*/
#audios_books_slider {
    position: relative;
}
#audios_books_slider a.link-to-all {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
    text-decoration: revert;
    z-index: 2;
}
#audios_books_slider div.owl-carousel {
    padding-top: 40px;
}
#audios_books_slider div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
}
#audios_books_slider div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 16px/1 FontAwesome;
}
#audios_books_slider div.owl-carousel div.owl-nav > div.owl-prev {
    right: 35px;
    transform: rotate(-90deg) translateY(-3px);
}
#audios_books_slider div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
    transform: rotate(90deg) translateY(-3px);
}
/*audio-book-item*/
div.audio-book-item {
    text-decoration: dashed;
}
div.audio-book-item a.image {
    display: block;
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #eee;
    border-radius: 13px;
}
div.audio-book-item a.image span.sale {
    position: relative;
    display: inline-block;
    background: #E91E63;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 5px;
    line-height: 24px;
}
div.audio-book-item a.image span.sale:after{
    border-color: transparent transparent transparent #E91E63;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: "";
    margin-top: -6px;
    position: absolute;
    right: -11px;
    top: 50%;
}
div.audio-book-item .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
}
div.audio-book-item div.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.audio-book-item div.info span {
    font-size: 12px;
    color: #0197ff;
}
div.audio-book-item div.info ul {
    display: flex;
    align-items: center;
}
div.audio-book-item div.info ul li{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}
div.audio-book-item div.description {
    position: relative;
    height: 80px;
    overflow: hidden;
}
div.audio-book-item div.description:after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 30px white;
}
div.audio-book-item div.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.audio-book-item div.final a.order {
    display: inline-block;
    background: #00bcff;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding: 0px 20px;
    border: 1px solid #00a4de;
    border-radius: 4px;
}
div.audio-book-item div.final div.price {
    position: relative;
}
div.audio-book-item div.final div.price small{
    position: absolute;
    top: -15px;
    right: 0px;
    font-weight: 500;
    text-decoration: line-through;
    color: #E91E63;
}
/*videos_slider*/
#videos_slider {
    position: relative;
}
#videos_slider a.link-to-all {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
    text-decoration: revert;
    z-index: 2;
}
#videos_slider div.owl-carousel {
    padding-top: 40px;
}
#videos_slider div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
}
#videos_slider div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 16px/1 FontAwesome;
}
#videos_slider div.owl-carousel div.owl-nav > div.owl-prev {
    right: 35px;
    transform: rotate(-90deg) translateY(-3px);
}
#videos_slider div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
    transform: rotate(90deg) translateY(-3px);
}
/*video-item*/
div.video-item a {
    text-decoration: dashed;
}
div.video-item a div.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 13px;
}
div.video-item a div.image i {
    font-size: 45px;
    color: rgba(1,146,255,0.7);
}
div.video-item .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
}
div.video-item div.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.video-item div.info span {
    font-size: 12px;
    color: #0197ff;
}
div.video-item div.info ul {
    display: flex;
    align-items: center;
}
div.video-item div.info ul li{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}
div.video-item div.description {
    position: relative;
    height: 80px;
    overflow: hidden;
}
div.video-item div.description:after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 30px white;
}
div.video-item span.more {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #333;
}
/*advertisings*/
#advertisings {
    position: relative;
}
#advertisings div.owl-carousel {}
#advertisings div.owl-carousel .owl-stage-outer {
    border-radius: 13px;
}
#advertisings div.owl-carousel .item a {
    display: block;
    height: 200px;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#advertisings div.owl-carousel div.owl-nav {
    margin-top: 0px;
}
#advertisings div.owl-carousel div.owl-nav > div {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: #258ee1;
    border-radius: 4px;
    border: 1px solid #007bdc;
}
#advertisings div.owl-carousel div.owl-nav > div:before {
    content: "\f106";
    font: normal normal normal 16px/1 FontAwesome;
}
#advertisings div.owl-carousel div.owl-nav > div.owl-prev {
    right: 35px;
    transform: rotate(-90deg) translateY(-3px);
}
#advertisings div.owl-carousel div.owl-nav > div.owl-next {
    right: 0px;
    transform: rotate(90deg) translateY(-3px);
}
#advertisings div.owl-carousel div.owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/*subscription*/
.subscription .content-box {
    display: flex;
    flex-direction: row;
}
.subscription .content-box div.item {
    display: flex;
    width: 50%;
    background-position: center center;
    background-size: cover;
    border-radius: 13px;
}
.subscription .content-box div.item.premium {
    background-image: url(http://127.0.0.1:8000/images/backgrounds/subscription1.png);
    background-color: #ffddb9;
    border: 1px solid #ffc88d;
    margin-right: 15px;
}
.subscription .content-box div.item.standard {
    background-image: url(http://127.0.0.1:8000/images/backgrounds/subscription2.png);
    background-color: #d5eaff;
    border: 1px solid #aad4ff
}
.subscription .content-box div.item .info-img {
    margin-right: 15px;
}
.subscription .content-box div.item .info-img img{
    max-height: 200px;
    max-width: 200px;
}
.subscription .content-box div.item form {
    width: 100%;
}
.subscription .content-box div.item form input{
    display: none;
}
.subscription .content-box div.item form input:checked + label span:nth-of-type(1):before {
    background: #4d94ff;
}
.subscription .content-box div.item form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    font-weight: 500;
    line-height: 45px;
    border-radius: 13px;
    padding: 0px 15px;
    cursor: pointer;
}
.subscription .content-box div.item form label span {
    display: flex;
    align-items: center;
}
.subscription .content-box div.item form label span:nth-of-type(1):before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    border-radius: 50%;
    border: 1px solid #0066ff;
}
.subscription .content-box div.item form button{
    width: 100%;
    background: #0091ff;
    font-weight: 500;
    color: #fff;
    line-height: 45px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 3px 0px rgba(0,14,25,0.5);
}
/*download_mobile_apps*/
#download_mobile_apps .content-box {
    background-image: url("/images/content/phone_big.png");
    background-position: right -125% bottom 85%;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: rgb(0 123 220);
    padding: 45px 60px;
    border-radius: 14px;
}
#download_mobile_apps .content-box > img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
}
#download_mobile_apps .content-box > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}
#download_mobile_apps .content-box > div a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    background: #e2f4ff;
    font-weight: 500;
    color: #111;
    border-radius: 35px;
    padding: 8px 0px;
    box-shadow: 0px 3px 5px 0px rgba(0,60,107,0.5);
}
#download_mobile_apps .content-box > div a.google-play {
    color: #555;
    margin-right: 23px;
}
#download_mobile_apps .content-box > div a img {
    width: 35px;
    margin-right: 10px;
}
/*about*/
#about .content-box {
    position: relative;
    height: 115px;
    overflow: hidden;
}
#about .content-box.show {
    height: auto;
}
#about .content-box.show:before {
    content: none;
}
#about .content-box:before {
    content: '';
    display: block;
    background: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 0px 20px 30px white;
}
#about .content-box p {
    margin-bottom: 7px;
}
#about a.show-btn {
    display: inline-flex;
    font-weight: 500;
    cursor: pointer;
    color: #0090ff;
}
#about .content-box.show + a.show-btn {
    display: none;
}
#about a.show-btn span {
    margin-right: 5px;
}
#about a.show-btn i {
    transform: rotate(180deg);
    line-height: 18px;
}

.call-buttons{
    position: fixed;
    bottom: 95px;
    right: 40px;
    z-index: 10000;
}
.call-buttons a{
    display: block;
    width: 45px;
    height: 45px;
    background: #4fc251;
    color: #fff;
    margin-top: 10px;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 8px #797979;
    cursor: pointer;
}
.call-buttons a:hover{
    background-color: #64d566;
}
.call-buttons a:last-child{
    background-color: #f3f3f3;
    color: #0090ff;
}
.call-buttons a:last-child:hover{
    color: #0090ffb0;
}

.my__account__wrapper .fa-google{
    color: #d64936;
}
.my__account__wrapper .fa-facebook{
    color: #3c65af;
}
/*----------content*/



/*media----------*/
@media (max-width: 1200px) {
    /*header----------*/
    /*menu*/
    header nav.mainmenu__nav ul.meninmenu li a {
        padding: 0px 15px;
    }
    /*----------header*/

    /*content---------*/
    /*download_mobile_apps*/
    #download_mobile_apps .content-box {
        background-position: right 586% bottom 85%;
    }
    /*---------content*/
}
@media (max-width: 991px) {
    /*header----------*/
    header div.container {
        position: relative;
    }
    /*menu*/
    header div.mobile-menu div.mean-bar {
        top: 0px!important;
        right: 0px;
    }
    header div.mobile-menu a.meanmenu-reveal {
        height: 40px;
        padding-right: 15px;
    }
    header div.mobile-menu nav.mean-nav {
        margin-top: 50px;
    }
    header div.mobile-menu nav.mean-nav ul li a {
        padding: 10px 15px;
        width: calc(100% - 30px);
    }
    /*sidebar*/
    header ul.header__sidebar__right {
        margin-right: 55px!important;
    }
    /*----------header*/

    /*content---------*/
    /*subscription*/
    .subscription .content-box div.item {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
    .subscription .content-box div.item .info-img {
        height: 200px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .subscription .content-box div.item .info-img img {
    }
    /*download_mobile_apps*/
    #download_mobile_apps .content-box {
        background-position: right 152% bottom 85%;
        background-blend-mode: color-burn;
        text-align: center;
    }
    #download_mobile_apps .content-box > div {
        justify-content: center;
    }
    /*---------content*/
}
@media (max-width: 768px) {
    /*content----------*/
    /*banner-main*/
    section#banner-main div.owl-carousel div.item a {
        height: 160px;
    }
    /*tabs_box*/
    section#tabs_box div.tabs ul li {
        font-size: 12px;
        padding: 0px 10px;
    }
    /*subscription*/
    .subscription .content-box div.item {
        font-size: 12px;
    }
    .subscription .content-box div.item .info-img img {
        max-width: 100%!important;
        max-height: 100%!important;
    }
    .subscription .content-box div.item form label {
        font-weight: 400;
        line-height: 35px;
        padding: 0px 10px;
    }
    .subscription .content-box div.item form label span:nth-of-type(1):before {
        height: 10px;
        width: 10px;
        margin-right: 3px;
    }
    .subscription .content-box div.item.premium {
        margin-right: 0px;
        border-radius: 13px 0px 0px 13px;
    }
    .subscription .content-box div.item.standard {
        border-radius: 0px 13px 13px 0px;
    }
    /*download_mobile_apps*/
    #download_mobile_apps .content-box {
        background-position: right 84% bottom 85%;
        padding: 15px;
    }
    #download_mobile_apps .content-box > div a {
        width: 125px;
        font-size: 12px;
    }
    #download_mobile_apps .content-box > div a.google-play {
        margin-right: 15px;
    }
    #download_mobile_apps .content-box > div a img {
        width: 25px;
        margin-right: 7px;
    }
    /*----------content*/
    .ft__logo img {
        width: 45px;
    }
    .product__overview{
        display: none;
    }

    div.article-item a div.image {
        height: 100px;
        background-size: contain;
    }
    div.video-item a div.image {
        height: 100px;
        background-size: contain;
    }
}
@media (max-width: 400px) {
    /*header----------*/
    header .container #site_search .results-box .result .content {
        display: block;
    }
    header .container #site_search .results-box .result .image {
        flex: 0 0 75px;
    }
    header .container #site_search .results-box .result .content .info {
        width: 150px;
    }
    header .container #site_search .results-box .result .content .info .title {
        font-size: 12px;
    }
    header .container #site_search .results-box .result .content .info .text {
        font-size: 12px;
    }
    header .container #site_search .results-box .result .content .price span {
        font-size: 12px;
    }
    /*----------header*/
    /*content----------*/
    section#banner-main div.owl-carousel div.item a {
        height: 170px;
    }
    section#banner-main div.owl-carousel div.owl-nav > div {
        background: rgba(255,255,255,0.5);
    }
    /*article-item*/
    div.article-item a div.image {
        height: 100px;
        background-size: contain;
    }
    div.article-item div.info {
        flex-direction: column;
        align-items: end;
    }
    div.article-item div.description {
        height: 65px;
        font-size: 12px;
    }
    /*book-item*/
    div.book-item a div.image {
        height: 100px;
    }
    div.book-item div.info {
        flex-direction: column;
        align-items: end;
    }
    div.book-item div.description {
        height: 65px;
        font-size: 12px;
    }
    div.book-item div.final {
        flex-direction: column;
        align-items: stretch;
    }
    div.book-item div.final div.price {
        order: 1;
    }
    div.book-item div.final a.order {
        order: 2;
    }
    /*subscription*/
    .subscription .content-box div.item .info-img {
        height: 150px;
    }
    .subscription .content-box div.item form label {
        flex-direction: column;
        line-height: initial;
        border-bottom: 1px solid #e3e3e3;
        border-radius: 0px;
        padding: 5px;
        margin-bottom: 0px;
    }
    .subscription .content-box div.item form button {
        line-height: 35px;
        font-weight: 400;
    }
    /*about*/
    #about .title {
        font-size: 18px;
    }
    #about .content-box {
        font-size: 12px;
    }
    #about a.show-btn {
        font-size: 14px;
    }
    /*----------content*/
}
/*----------media*/
